


{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}
    404
{% endblock %}


{% block content %}
    <section><!--slider-->
        <div class="custom-container">
            <div class="row">
                <hi>صفحه مورد نظر یافت نشد</hi>

                <div class="">
                    <img src="{% static 'image/404/404.png' %}" class=" girl"
                         alt=""/>
                </div>
                <h5>حال بیشتر برای این صفحه 404</h5>
            </div>
        </div>
    </section><!--/slider-->

{% endblock %}